{% extends "::base.html.twig" %}

{% block title %} delete category {% endblock title %}

{% block body %}
    <div class="">
       the category is deleted with success
    </div>
{% endblock body %}