{% extends "StudyncoBundle:Category:menu.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="">
            home page
        </div>
    </div>
{% endblock content %}