{% extends 'DashboardBundle:Admin:index.html.twig' %}

{% block content %}

    <section class="content">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Level Information</h3>
                </div>

                <div class="box-body">
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b> Title  </b> <a class="pull-right">{{ level.title }}</a>
                        </li>
                        <li class="list-group-item">
                            <b> Code </b> <a class="pull-right">{{ level.code }}</a>
                        </li>
                    </ul>
                    <a href="{{ path('update_level',{id:level.id}) }}" class="btn btn-primary btn-xs">Update</a>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Refentiels</h3>
                </div>

                <div class="box-body"></div>
            </div>
        </div>
    </section>

{% endblock content %}